@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#light {
  background-color: #f3ebf6;
}

#dark {
  background-color: #46045e;
}